.card {
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  border-radius: 4px;
  outline: transparent;
  border: 1px solid transparent;

  &.gray {
    background-color: #f9f8ff;
  }

  &:focus {
    border-color: var(--accent);
  }
}
