.headline {
	margin-bottom: 40px;
}

.title {
	position: relative;
	margin-bottom: 20px;
	padding-left: 90px;
	font-weight: 700;

	svg {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-25%);
	}

	@media (max-width: 1366px) {
		padding-left: 70px;
	}
}

.item {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.description {
	margin-left: 22px;
	padding-left: 68px;
	border-left: 1px solid #d2d2d2;

	@media (max-width: 1366px) {
		margin-left: 22px;
		padding-left: 48px;
	}
}
