.footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 50px;
  padding: 25px 32px;
  background-color: var(--accent);
  color: var(--white);

  @media (max-width: 768px) {
    padding: 20px 15px;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
    font-size: 14px;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px 40px;
  align-items: center;

  a {
    transition: color 0.3s ease, outline 0.3s ease;

    &:focus-visible {
      outline-color: var(--orange);
    }

    &:hover {
      color: var(--green-light);
    }

    &:active {
      color: var(--orange);
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}
