.footer {
	display: grid;
	justify-content: space-between;
	margin: 0 -20px;
	padding: 25px 32px;
	color: var(--white);
	background-color: var(--accent);
	grid-template-columns: auto auto;
	gap: 50px;

	@media (max-width: 768px) {
		padding: 20px 15px;
		grid-template-columns: 1fr;
		text-align: center;
		gap: 30px;
		font-size: 14px;
	}
}

.menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 10px 40px;

	a {
		transition: color 0.3s ease, outline 0.3s ease;

		&:focus-visible {
			outline-color: var(--orange);
		}

		&:hover {
			color: var(--green-light);
		}

		&:active {
			color: var(--orange);
		}
	}

	@media (max-width: 768px) {
		justify-content: center;
	}
}
