.field {
  position: relative;
}

.textarea {
  max-width: 100%;
  width: 100%;
  padding: 7px 15px;
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  border-radius: 4px;
  resize: vertical;

  &:focus {
    outline-color: var(--accent);
  }

  &::placeholder {
    color: var(--white-dark);
  }
}

.error {
  position: absolute;
  bottom: -20px;
  left: 5px;
  color: var(--red);
}
