.header {
	display: none;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		display: flex;
	}
}

.sidebar {
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	padding: 35px 20px;
	background-color: var(--white-light);
}

.close {
	position: fixed;
	z-index: 6;
	top: 35px;
	right: 20px;
}
