.rate {
	display: flex;
	align-items: center;
	justify-content: center;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	li:not(:last-child) {
		margin-right: 10px;
	}
}

.icon {
	fill: #bbb;

	&.filled {
		fill: var(--orange);
	}
}
