.tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-radius: 20px;
	font-weight: 500;
	line-height: 1;

	&.small {
		padding: 5px 12px;
		font-size: 12px;
	}

	&.big {
		padding: 5px 10px;
		font-size: 14px;
		font-weight: 600;
	}

	&.ghost {
		border-color: var(--gray-light);
	}

	&.accent {
		color: var(--accent);
		border-color: var(--accent);
	}

	&.gray {
		color: var(--white);
		border-color: #b3c0d9;
		background-color: #b3c0d9;
	}

	&.green {
		color: var(--green);
		border-color: var(--green--light);
		background-color: var(--green--light);
		font-weight: 700;
	}

	&.red {
		color: var(--white);
		border-color: var(--red);
		background-color: var(--red);
	}
}
