.form {
	display: grid;
	margin-bottom: 20px;
	padding-top: 10px;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 30px;

	@media (max-width: 1366px) {
		grid-template-columns: [start] auto auto [end];
	}

	@media (max-width: 972px) {
		grid-template-columns: [start] 1fr [end];
	}
}

.title {
	justify-self: flex-start;

	@media (max-width: 1366px) {
		justify-self: normal;
	}
}

.rating {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 14px;

	@media (max-width: 1366px) {
		grid-column: start / end;
	}
}

.textarea {
	grid-column: start / end;
}

.submit {
	display: flex;
	align-items: center;
	font-size: 14px;
	grid-column: start / end;

	@media (max-width: 972px) {
		align-items: flex-start;
		flex-direction: column-reverse;
		gap: 10px;
	}
}

.btn {
	margin-right: 15px;
}

.successtitle {
	display: block;
	margin-bottom: 5px;
}

.succesdescr {
	font-size: 14px;
}

.closebtn {
	position: absolute;
	top: 20px;
	right: 20px;
}

.closeerror {
	path {
		stroke: var(--black);
	}
}

.error {
	color: var(--red);
}
