:root {
  --accent: #7653fc;
  --accent-hover: #7e64e9;
  --black: #3b434e;
  --white: #ffffff;
  --white-light: #f5f6f8;
  --gray-light: #ebebeb;
  --red: #de0000;
  --orange: #fc836d;
  --green: #1dc37e;
  --light-green: #c8f8e4;
  --box-shadow: #0000000d;
  --main-font: 'Noto Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--white-light);
  color: var(--black);
  line-height: 1.7;
  // todo Reading more about it
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

ul {
  li {
    list-style: none;
  }
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

// helpers

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
